<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bitch ass page <%= 'hello world'.toUpperCase() %> </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci voluptate ea provident vitae totam iusto ipsam corrupti voluptatibus facere iure corporis, alias, atque labore ullam ut nesciunt fuga voluptates eligendi.</p>

    <h2>More bitch ass</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam asperiores exercitationem quod cumque ut esse? Sapiente iure accusantium itaque saepe blanditiis, officiis rerum eos modi ullam voluptate odio. Veritatis, quasi.</p>

</body>
</html>
